---
layout: home.njk
title: Helene Youse
name: Home
description: Portfolios créatifs d'Hélène Yousse.
lang: fr
tags: fr
---
<div class="landingPageLayout"> 

	<a class="landingPageLayout__wrapper landingPageLayout__wrapper--topLeft" href="{{website.url}}/galleryExteriors">
		<img class="landingPageLayout__wrapper__image" src="{{website.url}}/assets/images/home/HeleneYousse_Exterieures_SBR2_tall.jpg">
		<div class="landingPageLayout__wrapper__overlay">Exterieures</div>
	</a>

	<a class="landingPageLayout__wrapper landingPageLayout__wrapper--leftSmall1" href="{{website.url}}/galleryInstallations">
		<img class="landingPageLayout__wrapper__image" src="{{website.url}}/assets/images/home/4HeleneYousse_Installation_SK4.jpg">
		<div class="landingPageLayout__wrapper__overlay">Installations</div>
	</a> 

	<a class="landingPageLayout__wrapper landingPageLayout__wrapper--leftSmall2" href="{{website.url}}/galleryTerres">
		<img class="landingPageLayout__wrapper__image" src="{{website.url}}/assets/images/home/12HeleneYousse_Terres_JCP12.jpg">
		<div class="landingPageLayout__wrapper__overlay">Terres</div>
	</a>

	<a class="landingPageLayout__wrapper landingPageLayout__wrapper--leftMedium" href="{{website.url}}/galleryTerres">
		<img class="landingPageLayout__wrapper__image" src="{{website.url}}/assets/images/home/HeleneYousse_Terres_(Pelerins)_9C_29x8xH.15.jpg">
		<div class="landingPageLayout__wrapper__overlay">Terres (Pelerins)</div>
	</a>

	<a class="landingPageLayout__wrapper landingPageLayout__wrapper--leftSmall3" href="{{website.url}}/galleryTerres">
		<img class="landingPageLayout__wrapper__image" src="{{website.url}}/assets/images/home/10HeleneYousse_Terres_JCP10_2.jpg">
		<div class="landingPageLayout__wrapper__overlay">Terres</div>
	</a>

	<a class="landingPageLayout__wrapper landingPageLayout__wrapper--leftSmall4" href="{{website.url}}/galleryTerres">
		<img class="landingPageLayout__wrapper__image" src="{{website.url}}/assets/images/home/L1000394.jpg">
		<div class="landingPageLayout__wrapper__overlay">Terres</div>
	</a>

<!-- {# <div class="column_main_page_thick"> #} -->

	<div class="video_container landingPageLayout__wrapper--video">
		<video id="AutoplayVideo" autoplay controls muted
			src="{{website.url}}/assets/videos/Passages-Helene_Yousse_SD240p.mp4">
		<p>Your browser doesn't support HTML5 video. Here is a <a href="{{website.url}}/assets/home/Passages-Helene_Yousse_SD240p.mp4">link to the video</a> instead.</p> 
		</video>
	</div>

	<a class="landingPageLayout__wrapper landingPageLayout__wrapper--middleLarge" href="{{website.url}}/galleryTerres">
		<img class="landingPageLayout__wrapper__image" src="{{website.url}}/assets/images/home/19HeleneYousse_Terres_JCP19_C.jpg">
		<div class="landingPageLayout__wrapper__overlay">Terres</div>
	</a>

	<a class="landingPageLayout__wrapper landingPageLayout__wrapper--middleLarge2" href="{{website.url}}/galleryInstallations">
		<img class="landingPageLayout__wrapper__image" src="{{website.url}}/assets/images/home/10HeleneYousse_Installation_SK10.jpg">
		<div class="landingPageLayout__wrapper__overlay">Installations</div>
	</a>

<!-- {# <div class="column_main_page_thin"> #} -->

	<a class="landingPageLayout__wrapper landingPageLayout__wrapper--topRight" href="{{website.url}}/galleryTerres">
		<img class="landingPageLayout__wrapper__image" src="{{website.url}}/assets/images/home/20HeleneYousse_Terres_JCP20_C.jpg">
		<div class="landingPageLayout__wrapper__overlay">Terres</div>
	</a>

	<a class="landingPageLayout__wrapper landingPageLayout__wrapper--rightMedium1" href="{{website.url}}/galleryTerres">
		<img class="landingPageLayout__wrapper__image" src="{{website.url}}/assets/images/home/11HeleneYousse_Terres_JCP11.jpg">
		<div class="landingPageLayout__wrapper__overlay">Terres</div>
	</a>

	<a class="landingPageLayout__wrapper landingPageLayout__wrapper--rightsmall1" href="{{website.url}}/galleryExteriors">
		<img class="landingPageLayout__wrapper__image" src="{{website.url}}/assets/images/home/HeleneYousse_Exterieures_SBR4.jpg">
		<div class="landingPageLayout__wrapper__overlay">Exterieures</div>
	</a>

	<a class="landingPageLayout__wrapper landingPageLayout__wrapper--rightMedium2" href="{{website.url}}/galleryTerres">
		<img class="landingPageLayout__wrapper__image" src="{{website.url}}/assets/images/home/HeleneYousse_Terres_(Animals)_10A_22x8xH.18.jpg">
		<div class="landingPageLayout__wrapper__overlay">Terres (Animals)</div>
	</a>

	<a class="landingPageLayout__wrapper landingPageLayout__wrapper--rightSmall2" href="{{website.url}}/galleryTerres">
		<img class="landingPageLayout__wrapper__image" src="{{website.url}}/assets/images/home/L1000537.jpg">
		<div class="landingPageLayout__wrapper__overlay">Terres</div>
	</a>


</div> 