---
layout: home.njk

page_title: HÉLÈNE YOUSSE
page_description: Portfolios créatifs d'Hélène Yousse. Elle pratique l'art d'une manière impérieuse, sans concession, avec urgence. De cette urgence qui ne permet pas l'abandon, qui prend sa source dans l'énergie à fleur de peau, dans la violence de dire immédiatement ce qui est nécessaire.

chapter_name: Home
chapter_caption:
chapter_number: 1

lang: fr
tags: fr
---
<div class="landingPageGrid"> 

	<a class="landingPageGrid__wrapper landingPageGrid__wrapper--topLeft" href="{{website.url}}/Exterieurs">
		<img class="landingPageGrid__wrapper__image" src="{{website.url}}/img/HeleneYousse_Exterieures_SBR2_tall.jpg">
		<div class="landingPageGrid__wrapper__overlay">Extérieures</div>
	</a>

	<a class="landingPageGrid__wrapper landingPageGrid__wrapper--leftSmall1" href="{{website.url}}/Instalations">
		<img class="landingPageGrid__wrapper__image" src="{{website.url}}/img/4HeleneYousse_Installation_SK4.jpg">
		<div class="landingPageGrid__wrapper__overlay">Installations</div>
	</a> 

	<a class="landingPageGrid__wrapper landingPageGrid__wrapper--leftSmall2" href="{{website.url}}/Terres-Bronzes">
		<img class="landingPageGrid__wrapper__image" src="{{website.url}}/img/12HeleneYousse_Terres_JCP12.jpg">
		<div class="landingPageGrid__wrapper__overlay">Terres</div>
	</a>

	<a class="landingPageGrid__wrapper landingPageGrid__wrapper--leftMedium" href="{{website.url}}/Terres-Bronzes">
		<img class="landingPageGrid__wrapper__image" src="{{website.url}}/img/HeleneYousse_Terres_(Pelerins)_9C_29x8xH.15.jpg">
		<div class="landingPageGrid__wrapper__overlay">Terres (Pelerins)</div>
	</a>

	<a class="landingPageGrid__wrapper landingPageGrid__wrapper--leftSmall3" href="{{website.url}}/Terres-Bronzes">
		<img class="landingPageGrid__wrapper__image" src="{{website.url}}/img/10HeleneYousse_Terres_JCP10_2.jpg">
		<div class="landingPageGrid__wrapper__overlay">Terres</div>
	</a>

	<a class="landingPageGrid__wrapper landingPageGrid__wrapper--leftSmall4" href="{{website.url}}/Terres-Bronzes">
		<img class="landingPageGrid__wrapper__image" src="{{website.url}}/img/L1000394.jpg">
		<div class="landingPageGrid__wrapper__overlay">Terres</div>
	</a>

<!-- {# <div class="column_main_page_thick"> #} -->
	<div class="videoContainer landingPageGrid__wrapper--video">
		<video class="videoContainer__video" id="AutoplayVideo"
			src="{{website.url}}/video/Passages-Helene_Yousse_SD240p.mp4">
		<p>Your browser doesn't support HTML5 video. Here is a <a href="">link to the video</a> instead.</p> 
		</video>
		<img class="videoContainer__playButton" id="playBtn" src="/assets/images/play.png">
	</div>
<script>
const video = document.getElementById('AutoplayVideo');
const playBtn = document.getElementById('playBtn');

function togglePlay() {
		video.play();
		playBtn.style.display = 'none';
		video.controls = true;
}
playBtn.addEventListener('click', togglePlay);

</script>

	<a class="landingPageGrid__wrapper landingPageGrid__wrapper--middleLarge" href="{{website.url}}/Terres-Bronzes">
		<img class="landingPageGrid__wrapper__image" src="{{website.url}}/img/19HeleneYousse_Terres_JCP19_C.jpg">
		<div class="landingPageGrid__wrapper__overlay">Terres</div>
	</a>

	<a class="landingPageGrid__wrapper landingPageGrid__wrapper--middleLarge2" href="{{website.url}}/Instalations">
		<img class="landingPageGrid__wrapper__image" src="{{website.url}}/img/10HeleneYousse_Installation_SK10.jpg">
		<div class="landingPageGrid__wrapper__overlay">Installations</div>
	</a>

<!-- {# <div class="column_main_page_thin"> #} -->

	<a class="landingPageGrid__wrapper landingPageGrid__wrapper--topRight" href="{{website.url}}/Terres-Bronzes">
		<img class="landingPageGrid__wrapper__image" src="{{website.url}}/img/20HeleneYousse_Terres_JCP20_C.jpg">
		<div class="landingPageGrid__wrapper__overlay">Terres</div>
	</a>

	<a class="landingPageGrid__wrapper landingPageGrid__wrapper--rightMedium1" href="{{website.url}}/Terres-Bronzes">
		<img class="landingPageGrid__wrapper__image" src="{{website.url}}/img/11HeleneYousse_Terres_JCP11.jpg">
		<div class="landingPageGrid__wrapper__overlay">Terres</div>
	</a>

	<a class="landingPageGrid__wrapper landingPageGrid__wrapper--rightsmall1" href="{{website.url}}/Exterieurs">
		<img class="landingPageGrid__wrapper__image" src="{{website.url}}/img/HeleneYousse_Exterieures_SBR4.jpg">
		<div class="landingPageGrid__wrapper__overlay">Exterieures</div>
	</a>

	<a class="landingPageGrid__wrapper landingPageGrid__wrapper--rightMedium2" href="{{website.url}}/Terres-Bronzes">
		<img class="landingPageGrid__wrapper__image" src="{{website.url}}/img/HeleneYousse_Terres_(Animals)_10A_22x8xH.18.jpg">
		<div class="landingPageGrid__wrapper__overlay">Terres (Animals)</div>
	</a>

	<a class="landingPageGrid__wrapper landingPageGrid__wrapper--rightSmall2" href="{{website.url}}/Terres-Bronzes">
		<img class="landingPageGrid__wrapper__image" src="{{website.url}}/img/L1000537.jpg">
		<div class="landingPageGrid__wrapper__overlay">Terres</div>
	</a>


</div> 