/*whole website */
html {
	box-sizing: border-box;
}

:root{
	font-size: 16px;
	scroll-behavior: smooth;
}

*, *:before, *:after {
	box-sizing: inherit;
}

p, b, small, big {
	white-space: normal;
}

a {
	text-decoration: none;
}

/*----------------------color palette----------------------*/
/*
#241917 marron fonce
#3e2a21 marrron clair
#302521 gris chaud
#292826 gris vert leger
#614e40 beige
#ccbdb3 clair
*/
/*----------------------page layout----------------------*/
.pageFlexLayout {
	background-color: #ffffff;
	display: flex;
	flex-flow: row;
	flex-wrap: nowrap;

	padding: 0;
	margin: 0;
}

.main_text { flex: 80%; padding: 0px; margin: 0px; display: flex; flex-flow: column; }

/*----------------------sidebar----------------------*/
.sidebar {
	width: 20%;
	padding: 2rem 0 2rem 1rem;
	flex-wrap: wrap;
	min-width: 12rem;
}
.sidebar__logo {
	margin-top: 0;/*?????*/
	width: 100%;
}
.sidebar__line {
	position: relative;
	/* left: 10%; */
	margin: 1rem auto 4rem auto;
	height: 1px;
	width: 80%;
	background-color: #614e40;
}

/*----------------------lang menu----------------------*/
.langMenu{
	position: relative;
	display: flex;
	flex-flow: column;
	height: 1.5rem;
	width: 100%;
	margin: 0.5rem 0 4rem 0;
	background-color: #000000;
}
.langMenu__title{
	font: 400 1rem "Montserrat", sans-serif;
	color: #ccbdb3;
	margin: 0.25rem 0 0.25rem 0;
	padding-left: 0.5rem;
}

.langMenu__dropDown{
	position: absolute;
	top: 1.5rem;
	left: 0;
	padding: 0;
	margin: 0;

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	list-style: none;
	overflow-y: hidden;

	max-height: 0;
	width: 100%;

	background-color: #000000;

	transition: .3s ease-in-out;
}
.langMenu:hover .langMenu__dropDown{
	max-height: 6rem;

	transition: .3s ease-in-out;
}


.langMenu__dropDown__language{
	padding-left: 0.5rem;
	font: 400 1rem/1.5 "Montserrat", sans-serif;
	color: #ccbdb3;
	transition: .3s ease-in-out;
}
.langMenu__dropDown__language::before{
	content: ""; /* &#9679&nbsp; */
}

.langMenu__dropDown__language:hover{
	color: #ffffff;
	padding-left: 1rem;
	transition: .3s ease-in-out;
}

/*----------------------nav list----------------------*/
.navlist {
	padding: 0;
	margin: 0;

	list-style-type: "â— ";
	list-style-position: outside;
	margin-left: 1rem;
}
.navlist__chapter{
	display: list-item;
	width: 100%;
	padding-bottom: 0.25rem;
	font: 400 1rem/1 "Montserrat",sans-serif;
	color: #614e40;
	transition: padding-left .3s ease-in-out;
}
.navlist__chapter:hover{
	color: #000000;
	transition: padding-left .3s ease-in-out;

	padding-left:0.5rem;
}
.navlist__chapter--Highlight{
	color: #000000;
	padding-left:0.5rem;
}

.navlist__chapter__text{
	font: inherit;
	color: inherit;
	transition: padding-left .3s ease-in-out;
}
.navlist__chapter__smallText{
	display: inline-block;
	padding: 0 0 0.25rem 0rem ;
	opacity: 0.5;
	font: inherit;
	font-size: 0.75rem;
	color: inherit;
	transition: .3s ease-in-out;
}

/*----------------------news----------------------*/
/* .news_iframe { border: 0px; margin: 0; width: 100%; overflow: hidden; } */

/* .news_text { padding: 0px; font: 400 12px "Montserrat", sans-serif; text-align: justify; color: #614e40; }

.news_text b { padding: 0px; font: 700 12px "Montserrat", sans-serif; text-align: justify; color: #614e40; } */

/*----------------------news----------------------*/

.sidebar__img{
	width: 100%;
}
.sidebar__newsText{
	padding: 0px;
	font: 400 12px "Montserrat", sans-serif;
	text-align: justify;
	color: #614e40;
}

.sidebar__newsText b{
	padding: 0px;
	font: 700 12px "Montserrat", sans-serif;
	text-align: justify;
	color: #614e40;
}

/*----------------------pdf----------------------*/
/* .line { height: 1px; width: 80%; position: relative; left: 10%; background-color: #614e40; } */

/*----------------------share----------------------*/
.sidebar__share{
	font: 400 1rem "Montserrat", sans-serif;
	color: #614e40;
}

.sidebar__share a{
	font: 400 1rem "Montserrat", sans-serif;
	color: #000000;
}

/*----------------------landing page----------------------*/
.landingPageGrid{
	width: 80%;
	padding: 2rem 1rem 2rem 2rem;
	display: grid;
	grid-template-columns: 8fr 16fr 8fr;
	grid-template-rows: min-content repeat( 2 , 15vw) repeat( 4 , 15vw) auto;
	/* min content will size the first row to the size of the video container which uses a forced aspect ratio */
	/* unlike the image which use object-fit: cover */
	grid-template-areas: 
	"topLeft video topRight"
	"leftSmall1 middleLarge rightMedium1"
	"leftSmall2 middleLarge rightMedium1"
	"leftMedium middleLarge2 rightsmall1"
	"leftMedium middleLarge2 rightMedium2"
	"leftSmall3 middleLarge2 rightMedium2"
	"leftSmall4 middleLarge2 rightSmall2";
	column-gap: 0.5rem;
	row-gap: 0.5rem;

	justify-items: stretch;
	align-items: stretch;
	grid-auto-flow: row;
}
.landingPageGrid__wrapper{
	display: block;
	position: relative;
}
.landingPageGrid__wrapper__image{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
	object-fit: cover;
}
.landingPageGrid__wrapper__overlay{
	position: absolute;
	z-index: 2;
	bottom: 20px;
	left: 10px;
	padding: 5px;
	opacity: 0;

	font: 18px "Montserrat", sans-serif;
	color: #ccbdb3; 
	background: #000000;

	transition: .3s ease-in-out;
}
.landingPageGrid__wrapper:hover .landingPageGrid__wrapper__overlay{
	opacity: 1.0;
	transition: .3s ease-in-out;
}


.landingPageGrid__wrapper--topLeft{
	grid-area: topLeft;
}
.landingPageGrid__wrapper--leftSmall1{
	grid-area: leftSmall1;
}
.landingPageGrid__wrapper--leftSmall2{
	grid-area: leftSmall2;
}
.landingPageGrid__wrapper--leftMedium{
	grid-area: leftMedium;
}
.landingPageGrid__wrapper--leftSmall3{
	grid-area: leftSmall3;
}
.landingPageGrid__wrapper--leftSmall4{
	grid-area: leftSmall4;
}
/**/
.landingPageGrid__wrapper--video{
	grid-area: video;
}
.landingPageGrid__wrapper--middleLarge{
	grid-area: middleLarge;
}
.landingPageGrid__wrapper--middleLarge2{
	grid-area: middleLarge2;
}
/**/
.landingPageGrid__wrapper--topRight{
	grid-area: topRight;
}
.landingPageGrid__wrapper--rightMedium1{
	grid-area: rightMedium1;
}
.landingPageGrid__wrapper--rightsmall1{
	grid-area: rightsmall1;
}
.landingPageGrid__wrapper--rightMedium2{
	grid-area: rightMedium2;
}
.landingPageGrid__wrapper--rightSmall2{
	grid-area: rightSmall2;
}
/*----------------------video continer----------------------*/
.video_container{
	position: relative;
	display: block;
	width: 100%;
	padding: 0;
	padding-bottom: 56.25%;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.video_container video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/*----------------------gallery page----------------------*/
.gallery {
	width: 80%;
	padding: 2rem 1rem 2rem 2rem;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: stretch;
	gap: 0.5rem;
}
.gallery__column{
	flex: 25;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	gap: 0.5rem;
}
.preview__widthBox{
	width: 100%;
}
.preview__widthBox_heightBox{
	height: 0;
	position: relative;
}
.preview__image{
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;

	background-color: #e7e7e7;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);

	transition: ease-in-out 0.3s;
}
.preview__image:hover{
	filter: brightness(0.5);
	cursor: pointer;

	transition: ease-in-out 0.3s;
}
/*----------------modal----------------*/
.modal{
	z-index: 10;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;

	display: none;
	grid-template-columns: 1rem 1fr 6rem 1rem;
	grid-template-rows: 1rem 1fr 2fr 2fr 1rem ;
	justify-items: center;
	align-items: center;
	
	grid-template-areas: 
	". . . ."
	". image close close"
	". image previous previous"
	". image next next"
	". . . .";

	background-color: rgba(0, 0, 0, 0.9);
}
.modal__image{
	grid-area: image;
	object-fit: scale-down;
	justify-self: stretch;
	align-self: stretch;
	width: 100%;
	height: 100%;
}
.modal__closeButton{
	grid-area: close;
	padding: 10px;
	color: #ffffff;
	background-color: rgba(255, 255, 255, 0);
	font-size: 60px;
	font-weight: bold;
	user-select: none; 
	cursor: pointer;
	transition: 0.3s ease-in-out;
}
.modal__closeButton:hover{
	color: #c51313;
	background-color: rgba(255, 255, 255, 0.274);
	transition: 0.3s ease-in-out;
}
.modal__previousButton{
	grid-area: previous;
	object-fit: scale-down;
	user-select: none;
	cursor: pointer;
	transition: 0.3s ease-in-out;
}
.modal__nextButton{
	grid-area: next;
	object-fit: scale-down;
	user-select: none;
	cursor: pointer;
	transition: 0.3s ease-in-out;
}
.modal__previousButton:hover , .modal__nextButton:hover{
	filter: brightness(0.75);
	background-color: rgba(255, 255, 255, 0.274);
	transition: 0.3s ease-in-out;
}
.modal__caption{
	position: fixed;
	bottom: 10%;
	left: 15%;

	display: block;

	background-color: rgba(0, 0, 0, 0.5);
	padding: 10px;
	text-align: left;
	font: 400 1rem/1 "Montserrat", sans-serif;
	color: #ffffff;
	z-index: 11; 
}
.modal__caption__text{
	font: 400 1rem/1.5 "Montserrat", sans-serif; color: #ffffff;
	margin: 1rem;
}

.modal__loader{
	display: block;
	opacity: 1.0;
	position: fixed;
	top: calc(50% - 5rem);
	left: calc(50% - 5rem);
	width: 10rem;
	height: 10rem;
	animation: 2s linear infinite spin;
	z-index: 11;
	transition: 0.5s ease-in-out;
}
@keyframes spin {
	0% {transform:rotate(360deg);}
	25% {transform:rotate(270deg);}
	50% {transform:rotate(180deg);}
	75% {transform:rotate(90deg);}
	100% {transform:rotate(0deg);}
}

/*----------------------text page----------------------*/
.textPage{
	width: 80%;
	max-width: 55rem;
	margin: 0 auto 0 auto;
	padding: 2rem 1rem 2rem 1rem;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: stretch;
	font: 400 1rem "Montserrat", sans-serif;
}
.textPage hr{
	width: 3rem;
	height: 1px;
	background-color: #b9a799;
	margin: 3rem auto 3rem auto;
}
.textPage h1{
		font: 500 3rem "Montserrat", sans-serif;
	color: #614e40;
	text-indent: 0;
	margin: 2rem 0 2rem 0;
}
.textPage p {
	font: 400 1rem/1.5 "Montserrat", sans-serif;
	text-align: justify;
	color: #614e40;
	text-indent: 0;
	margin: 1rem 0 0 0;
}
.textPage em {
	margin: 0 0 0 2rem;
	font: 400 0.75rem/1 "Montserrat", sans-serif;
	text-align: right;
	color: #614e40;

}
.textPage table{
	vertical-align: top;
	border: 0px;
}
.textPage table tr td {
	min-width: 1rem;

	font: 400 1rem/1.5 "Montserrat", sans-serif;
	text-align: left;
	color: #614e40;
}
.textPage table tr > td:first-child {
font: 400 1rem/1.5 ui-monospace;
}
.textPage ul{
	list-style-type: "-    ";
	list-style-position: outside;
	padding-left: 2rem;
}
.textPage ul li{
	font: 400 1rem/1.5 "Montserrat", sans-serif;
	text-align: justify;
	color: #614e40;
	text-indent: 0;
}
.textPage ul li::marker{
	color: #614e40;
}
.textPage strong{
	font: 700 1rem/1.5 "Montserrat", sans-serif;
	text-align: justify;
	color: #614e40;
	text-indent: 0;
}
.textPage .imageBox{
	margin: 2rem auto 2rem auto;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	gap: 1rem;
}
.textPage .imageBox__image{
	max-height:30rem;
}