---
---
<meta property="og:title" content="{{ page_title }}"/>
<meta name="author" content="Hélène Yousse"/>
<meta property="og:locale" content="{{ lang }}"/>
<meta name="description" content="{{ page_description }}"/>
<meta property="og:description" content="{{ page_description }}"/>
<link rel="canonical" href="{{ website.completeUrl}}{{ page.url}}"/>
<meta property="og:url" content="{{ website.completeUrl}}{{ page.url}}"/>
<meta property="og:site_name" content="Hélène Yousse"/>