
		<!-- The Modalpart -->

		<div id="modal" class="modal">
			<div id="modalBackground" class="modal__background"></div>
			<img id="modalContent" class="modal__image" draggable="false">
			<span id="close" class="modal__closeButton">&times;</span>
			<img id="previous" src="{{webiste.url}}/assets/images/previous.png" class="modal__previousButton" alt="Previous">
			<img id="next" src="{{webiste.url}}/assets/images/next.png" class="modal__nextButton" alt="Next">
			<div class="modal__caption"><p class="modal__caption__text" id="caption"> ... </p></div>
			<img id="loader" class="modal__loader" src="{{website.url}}/assets/images/loading.png">
		</div>
