
	<ul class="navlist">
	{%- if lang == "fr" %}
		{%- for chapter in collections.frenchPages %}
			{%- if chapter.url == page.url %}
				<li class="navlist__chapter navlist__chapter--Highlight">
						<a class="navlist__chapter__text navlist__chapter__text--highlight" href="{{ website.url }}{{ chapter.url }}">
							<span>{{ chapter.data.chapter_name }}<span>
						{%- if chapter.data.chapter_caption %}
							<br><small class="navlist__chapter__smallText navlist__chapter__smallText--highlight">{{ chapter.data.chapter_caption }}</small>
						{%- endif %}
						</a>
				</li>
			{%- else %}
				<li class="navlist__chapter">
						<a class="navlist__chapter__text" href="{{ website.url }}{{ chapter.url }}">
							<span>{{ chapter.data.chapter_name }}<span>
						{%- if chapter.data.chapter_caption %}
							<br><small class="navlist__chapter__smallText">{{ chapter.data.chapter_caption }}</small>
						{%- endif %}
						</a>
				</li>
			{%- endif %}
		{%- endfor %}
		
				<li class="navlist__chapter">
						<a class="navlist__chapter__text" href="{{ website.url }}/A-propos#cv">
							<span>Curriculum<span>
						</a>
				</li>
				<li class="navlist__chapter">
						<a class="navlist__chapter__text" href="{{ website.url }}/A-propos#contact">
							<span>Contact<span>
						</a>
				</li>

	{%- elif lang == "en" %}
		{%- for chapter in collections.englishPages %}
			<li class="navlist__chapter">
			{%- if chapter.url == page.url %}
					<a class="navlist__chapter__text navlist__chapter__text--highlight" href="{{ website.url }}{{ chapter.url }}">
						<span>{{ chapter.data.chapter_name }}<span>
					{%- if chapter.data.chapter_caption %}
						<br><small class="navlist__chapter__smallText navlist__chapter__smallText--highlight">{{ chapter.data.chapter_caption }}</small>
					{%- endif %}
					</a>
				</li>
			{%- else %}
					<a class="navlist__chapter__text" href="{{ website.url }}{{ chapter.url }}">
						<span>{{ chapter.data.chapter_name }}<span>
					{%- if chapter.data.chapter_caption %}
						<br><small class="navlist__chapter__smallText">{{ chapter.data.chapter_caption }}</small>
					{%- endif %}
					</a>
				</li>
			{%- endif %}
		{%- endfor %}
		
				<li class="navlist__chapter">
						<a class="navlist__chapter__text" href="{{ website.url }}/lang=en/A-propos#cv">
							<span>Curriculum<span>
						</a>
				</li>
				<li class="navlist__chapter">
						<a class="navlist__chapter__text" href="{{ website.url }}/lang=en/A-propos#contact">
							<span>Contact<span>
						</a>
				</li>

	{%- else %}
		{%- for chapter in collections.fr %}
			<li class="navlist__chapter">
			{%- if chapter.url == page.url %}
					<a class="navlist__chapter__text navlist__chapter__text--highlight" href="{{ website.url }}{{ chapter.url }}">
						<span>{{ chapter.data.chapter_name }}<span>
					{%- if chapter.data.title_caption %}
						<br><small class="navlist__chapter__smallText navlist__chapter__smallText--highlight">{{ chapter.data.chapter_caption }}</small>
					{%- endif %}
					</a>
				</li>
			{%- else %}
					<a class="navlist__chapter__text" href="{{ website.url }}{{ chapter.url }}">
						<span>{{ chapter.data.chapter_name }}<span>
					{%- if chapter.data.title_caption %}
						<br><small class="navlist__chapter__smallText" href="{{ website.url }}{{ chapter.url }}">{{ chapter.data.chapter_caption }}</small>
					{%- endif %}
					</a>
				</li>
			{%- endif %}
		
				<li class="navlist__chapter">
						<a class="navlist__chapter__text" href="{{ website.url }}/A-propos#cv">
							<span>Curriculum<span>
						</a>
				</li>
				<li class="navlist__chapter">
						<a class="navlist__chapter__text" href="{{ website.url }}/A-propos#contact">
							<span>Contact<span>
						</a>
				</li>
	
		{%- endfor %}
	{%- endif%}
	</ul>
