---
layout: home.njk

page_title: HÉLÈNE YOUSSE
page_description: Hélène Yousse's Portfolio . Hélène Yousse creates her art with total allegiance, without concessions, out of a necessity. A necessity that doesn’t admit any giving up. Which draws its energy from the throbbing of an open wound, driven by the urgency to say directly what has to be said.

chapter_name: Home
chapter_caption:
chapter_number: 1

lang: en
tags: en
---
<div class="landingPageGrid"> 

	<a class="landingPageGrid__wrapper landingPageGrid__wrapper--topLeft" href="{{website.url}}/galleryExteriors">
		<img class="landingPageGrid__wrapper__image" src="{{website.url}}/img/HeleneYousse_Exterieures_SBR2_tall.jpg">
		<div class="landingPageGrid__wrapper__overlay">Exteriors</div>
	</a>

	<a class="landingPageGrid__wrapper landingPageGrid__wrapper--leftSmall1" href="{{website.url}}/galleryInstallations">
		<img class="landingPageGrid__wrapper__image" src="{{website.url}}/img/4HeleneYousse_Installation_SK4.jpg">
		<div class="landingPageGrid__wrapper__overlay">Installations</div>
	</a> 

	<a class="landingPageGrid__wrapper landingPageGrid__wrapper--leftSmall2" href="{{website.url}}/galleryTerres">
		<img class="landingPageGrid__wrapper__image" src="{{website.url}}/img/12HeleneYousse_Terres_JCP12.jpg">
		<div class="landingPageGrid__wrapper__overlay">Clay & Bronzes</div>
	</a>

	<a class="landingPageGrid__wrapper landingPageGrid__wrapper--leftMedium" href="{{website.url}}/galleryTerres">
		<img class="landingPageGrid__wrapper__image" src="{{website.url}}/img/HeleneYousse_Terres_(Pelerins)_9C_29x8xH.15.jpg">
		<div class="landingPageGrid__wrapper__overlay">(Pelerins) Clay & Bronzes</div>
	</a>

	<a class="landingPageGrid__wrapper landingPageGrid__wrapper--leftSmall3" href="{{website.url}}/galleryTerres">
		<img class="landingPageGrid__wrapper__image" src="{{website.url}}/img/10HeleneYousse_Terres_JCP10_2.jpg">
		<div class="landingPageGrid__wrapper__overlay">Clay & Bronzes</div>
	</a>

	<a class="landingPageGrid__wrapper landingPageGrid__wrapper--leftSmall4" href="{{website.url}}/galleryTerres">
		<img class="landingPageGrid__wrapper__image" src="{{website.url}}/img/L1000394.jpg">
		<div class="landingPageGrid__wrapper__overlay">Clay & Bronzes</div>
	</a>

<!-- {# <div class="column_main_page_thick"> #} -->

	<div class="video_container landingPageGrid__wrapper--video">
		<video id="AutoplayVideo" autoplay controls muted
			src="{{website.url}}/video/Passages-Helene_Yousse_SD240p.mp4">
		<p>Your browser doesn't support HTML5 video. Here is a <a href="">link to the video</a> instead.</p> 
		</video>
	</div>

	<a class="landingPageGrid__wrapper landingPageGrid__wrapper--middleLarge" href="{{website.url}}/galleryTerres">
		<img class="landingPageGrid__wrapper__image" src="{{website.url}}/img/19HeleneYousse_Terres_JCP19_C.jpg">
		<div class="landingPageGrid__wrapper__overlay">Clay & Bronzes</div>
	</a>

	<a class="landingPageGrid__wrapper landingPageGrid__wrapper--middleLarge2" href="{{website.url}}/galleryInstallations">
		<img class="landingPageGrid__wrapper__image" src="{{website.url}}/img/10HeleneYousse_Installation_SK10.jpg">
		<div class="landingPageGrid__wrapper__overlay">Installations</div>
	</a>

<!-- {# <div class="column_main_page_thin"> #} -->

	<a class="landingPageGrid__wrapper landingPageGrid__wrapper--topRight" href="{{website.url}}/galleryTerres">
		<img class="landingPageGrid__wrapper__image" src="{{website.url}}/img/20HeleneYousse_Terres_JCP20_C.jpg">
		<div class="landingPageGrid__wrapper__overlay">Clay & Bronzes</div>
	</a>

	<a class="landingPageGrid__wrapper landingPageGrid__wrapper--rightMedium1" href="{{website.url}}/galleryTerres">
		<img class="landingPageGrid__wrapper__image" src="{{website.url}}/img/11HeleneYousse_Terres_JCP11.jpg">
		<div class="landingPageGrid__wrapper__overlay">Clay & Bronzes</div>
	</a>

	<a class="landingPageGrid__wrapper landingPageGrid__wrapper--rightsmall1" href="{{website.url}}/galleryExteriors">
		<img class="landingPageGrid__wrapper__image" src="{{website.url}}/img/HeleneYousse_Exterieures_SBR4.jpg">
		<div class="landingPageGrid__wrapper__overlay">Exterieures</div>
	</a>

	<a class="landingPageGrid__wrapper landingPageGrid__wrapper--rightMedium2" href="{{website.url}}/galleryTerres">
		<img class="landingPageGrid__wrapper__image" src="{{website.url}}/img/HeleneYousse_Terres_(Animals)_10A_22x8xH.18.jpg">
		<div class="landingPageGrid__wrapper__overlay">(Animals) Clay & Bronzes</div>
	</a>

	<a class="landingPageGrid__wrapper landingPageGrid__wrapper--rightSmall2" href="{{website.url}}/galleryTerres">
		<img class="landingPageGrid__wrapper__image" src="{{website.url}}/img/L1000537.jpg">
		<div class="landingPageGrid__wrapper__overlay">Clay & Bronzes</div>
	</a>


</div> 